/*------------------------------------------------------------------------------------*/

/*---------------------------------------Reset----------------------------------------*/

/*------------------------------------------------------------------------------------*/

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-size: 100%;
}

img {
    max-width: 100%;
}

@font-face {
    font-family: lovelo-light;
    src: url(../Fontes/Lovelo-LineLight.woff);
}

@font-face {
    font-family: bayoc;
    src: url(../Fontes/bayoc___-webfont.woff);
}

/*------------------------------------------------------------------------------------*/

/*----------------------------------------Cabeçalho-----------------------------------*/

/*------------------------------------------------------------------------------------*/

body {
    background-image: linear-gradient(to bottom, rgba(58, 58, 255, 0.30), rgba(175, 175, 233, 0.30), rgba(0, 0, 201, 0.30));
    background-repeat: no-repeat;
}

.logo {
    width: 9.3em;
}

/*------------------------------------------------------------------------------------*/

/*---------------------------------------Menu-----------------------------------------*/

/*------------------------------------------------------------------------------------*/

.menu {
    background: linear-gradient(to bottom, #000440, #5E64D1, #000880);
    padding: .5em;
}

.menu ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-size: 1em;
}

.menu a {
    text-decoration: none;
    color: #361a0c;
    font-weight: bold;
    padding: 1em;
    border-radius: 10px;
    background: #000764;
    padding: 15px;
    color: white;
    margin: 0px 5px 0px 5px;
    border-radius: 20px;
    transition: all .4s;
}

.menu a:hover {
    background: #5E64D1;
}

/*Icone e checkbox do menu MOBILE em none para não aparecer na WEB*/

#icone {
    display: none;
}

#check {
    display: none;
}

/*------------------------------------------------------------------------------------*/

/*------------------------------Gerencimento de eventos-------------------------------*/

/*------------------------------------------------------------------------------------*/
table {
    border: 1px solid #000;
}
.titulo-adm {
    background: linear-gradient( to bottom, #858CFF, #474CB7);
    padding: 1.1em;
    font-weight: bold;
    font-size: 1.5em;
    margin: 1em 1em 0;
    border-top-left-radius: .8em;
    border-top-right-radius: .8em;
    border: 1px solid #000;
}

.eventos {
    background: #B3AEFF;
    margin: 0 1.5em;
    display: flex;
    flex-direction: column;
}

.eventos tr {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    margin-bottom: 1em;
    align-items: center;
}
.eventos td {
    text-align: center;
    width: 100%;
}

.eventos th {
    border: 1px solid #000;
    width: 100%;
    
}
/*------------------------------------------------------------------------------------*/

/*-------------------------------Mensagens de usuários--------------------------------*/

/*------------------------------------------------------------------------------------*/
.mensagens {
    background: #B3AEFF;
    margin: 0 1.5em;
    display: flex;
    flex-direction: column;
}

.mensagens tr {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    margin-bottom: 1em;
    align-items: center;
    
}
.mensagens td {
    text-align: center;
    width: 100%;
}

.mensagens th {
    border: 1px solid #000;
    width: 100%;
}

/*------------------------------------------------------------------------------------*/

/*---------------------------------------Responsivo-----------------------------------*/

/*------------------------------------------------------------------------------------*/

@media (max-width:1019px) {
    .bg-mobile {
        background: linear-gradient(to bottom, #000440, #5E64D1, #000880);
        height: 5em;
    }
    /*------------------Menu Retrátil--------------------*/
    #check {
        display: none;
    }
    #icone {
        cursor: pointer;
        position: fixed;
        display: block;
        top: .5em;
        right: 10px;
        z-index: 2;
    }
    .menu {
        background: linear-gradient(to bottom, #00044000, rgba(94, 100, 209, 0), #00098000);
    }
    .barra {
        background: linear-gradient(to bottom, rgba(58, 58, 255, 0.30), rgba(175, 175, 233, 0.30), rgba(0, 0, 201, 0.30));
        height: 100%;
        width: 100%;
        position: fixed;
        transition: all .2s linear;
        left: -100%;
        z-index: 1;
        top:0px;
    }
    .menu ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1em;
        z-index: 1;
    }
    .menu ul li {
        width: 21.8em;
        margin: 0.5em;
        
    }
    .menu a {
        display: block;
        text-align: left;
        text-decoration: none;
        padding: .9em;
        background: white;
        color: black;
        border-radius: 0px;
        box-shadow: .5em .5em .5em black;
    }
    .menu>ul>a:nth-child(1) {
        border: none;
        padding: 0px;
    }
    .menu a:hover {
        background: #b8b8b8;
    }
    #check:checked~.barra {
        transform: translateX(100%);
    }
    /*-------Rodapé-------*/
    .rodape-meio {
        display: flex;
        justify-content: column;
    }
    .rodape-meio>div>p:nth-child(odd) {
        font-size: 3em;
    }
    .rodape-meio>div>p:nth-child(even) {
        font-size: 1.3em;
    }
    /*Fechamento @media abaixo*/
}
@media (max-width: 900px){ 
    .rodape-meio {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: 5em;
        
    }
    .rodape-meio>div>p:nth-child(odd) {  
        font-size: 1.5em;
    }
    .rodape-meio>div>p:nth-child(even) {
        font-weight: none;  
        font-size: .9em;
    }
    th {
        font-size: 2em;
    }
    td {
        font-size: 1.5em;
        font-weight: bold;
    }
    /*Fechamento @media abaixo*/
}
@media (max-width: 600px) {
    .menu ul li {
        width: 21.8em;
    }
    /*------Banner-------*/
    .banner-area a {
        font-size: 1.5em;
    }
    
}
@media (max-width: 400px) {
    .menu ul li {
        width: 15em;
        margin: 0.3em;   
    }
}